/* shopping css */

.searchBox{
    margin-top:12vh;
    margin-bottom:10vh;
    /* display: none; */
    padding: 0 12px;
    /* position:fixed; */
    /* z-index: 1; */
    top: 0;
}

.show-cart{
    width: 50%;
}

.cart-heading{
    margin-top: 12vh;
    margin-bottom: 10vh;
    text-align: center;
}
.cart-heading h3{
    font-size: 20px;
    line-height: 40px;
}

.flex-spacedbtw{
    display: flex;
    justify-content: space-between;

}

@media(max-width:760px){
    .show-cart{
        display: none;
    }
}

.place-order{
    position: fixed;
    bottom:0;
    width: 100%;
    display: flex;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-top: 1px solid #8080804a;
}

.place-order p{
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 25px;
    margin-bottom: 0;
    color: #d6d3d3;;
}

.place-order span{
    color: black;
}

.sticky{
    position: fixed;
    top:0;
    z-index: 1;
    margin: 0;
}