/* this is css for hero section  */
.hero{
    background-image: url("../../../img/hero_img1-min.jpg");
    
  }
  
  
 

  @media(max-width:768px){
    .hero-cta{
      padding-top: 2em;
      padding-bottom: 3em;
    }

    .cta-container{
      width: 60vw;
    }

    .special-head{
      font-size: 2.4rem;
      line-height: 3.2rem;
    }

    .special-para{
      margin-top: 2rem;
      margin-bottom: 2rem;
      font-size: 0.9rem;
    }
  }

@media(max-width:576px){
  .special-head{
    font-size: 2em;
  }

  .special-para{
    font-size: 0.7rem;
  }
}