.signup{
    max-width:400px;
    margin: auto;
    padding: 6em;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border: 2px solid #bbc8d4;
    text-align: center;
}

.signup label{
    display: block;
}
.signup input{
    width:100%;
    border:2px solid #bbc8d4;
    padding-left: 5px;
}

.signup label{
    font-weight: 700;
    margin-top: 13px;
}


.signup Button{
    margin-top: 25px;
    margin-bottom: 16px;
}

.signup p{
    color:#bbc8d4;
    margin-bottom: 0;
}

.signup div:first-of-type{
    text-align: left;
}

.support-button{
    display: flex;
    justify-content: space-between;
} 

img{
    width: 18px;
    height:18px;
    margin-left: 10px;
    margin-bottom: 5px;
}