/* MyCard style sheet  */
.contain-items{
    padding: 1.25rem;
    border: 1px solid #f0f0f0;
}


/* card-main-heading and it's style hear style  */

.card-main-heading{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.card-main-heading p:first-of-type{
    font-size: 16px;
    font-weight: 500;
}

.card-main-heading>p{
    color:black
}

/* my-card class and its child class style   */
.my-col{
    margin-top: 0.55rem;
}

.my-card{
    border: 1px solid #f0f0f0;
    padding:1.25rem;
    /* max-width: 178px; */
    /* min-width: 174px; */
    transition: all 0.3s;
}
.my-card:hover{
    box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%), 0 5px 12px 4px rgb(0 0 0 / 9%);
}

.my-card-body{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}
 
.card-heading{
    font-weight: 700;
    margin-bottom: 8px;
}

.sneek-helper p{
    color: #0c9991;
}

@media (max-width:768px){
    .my-col{
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        margin-top: 0.55rem;
    }

    .my-card{
        padding:0 ;
        padding-top: 1.25rem;
    }

    /* from EachItem.js  */
    .gradient-container1{
        background: linear-gradient(rgba(251,113,171,1), rgba(0, 71, 255,0));
    }

    .gradient-container2{
        background: linear-gradient(rgba(251,245,113,1), rgba(255,152,0,0));
    }

    .gradient-container3{
        background: linear-gradient(rgba(113,191,251,1), rgba(255,152,0,0));
    }

    .gradient-container4{
        background: linear-gradient(rgba(251,113,171,1), rgba(0,71,255,0));
    }


    /* card-main-heading class style  */
    .home-card-content{
        padding: 1.25rem;
    }
    
    .btn-carrier-head{
        color:white;
        background-color: #ff6600;
        padding-left: 6px;
        padding-right: 5px;
        border-radius: 10px;
    }

    /* my-card class style  */
    .sneek-helper p{
        font-size: 0.7rem;
        font-weight: 300;
    }

}




