
/* @media(max-width:575px){ 
} */

/* 554-720 */
/* 720 */
/* @media (min-width:576px){
    .my-card{
        background-color:yellow;
    }
} */

/* 960 */
/*min-width*/ /*768px and greater*/
/* @media (min-width:768px){
    .my-col{
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
} */

.test3{
    display: none;
}
@media (max-width:768px){
    
    
}

/* 1240 */
/* @media(min-width:992px){
    .my-card{
        background-color: purple;
    }
} */




